# Export all names except those beginning with .
# exportPattern("^[^\\.]")
#
# Export explicitly by name
export(
    bib.CL
  , CI.BE
  , CI.RatioF
  , CVCL
  , CV2se
  , CV2mse
  , CVfromCI
  , CI2CV
  , CVp2CV
  , CVpooled
  , exppower.noninf
  , exppower.TOST
  , expsampleN.noninf
  , expsampleN.TOST
  , known.designs
  , OwensQ
  , OwensQOwen
  , OwensT
  , pa.ABE
  , pa.scABE
  , pa.NTIDFDA
  , power.noninf
  , power.RatioF
  , power.TOST
  , power2.TOST
  , power.NTIDFDA
  , power.RSABE
  , power.scABEL
  , power.dp
  , sampleN.noninf
  , sampleN.RatioF
  , sampleN.TOST
  , sampleN.NTIDFDA
  , sampleN.RSABE
  , sampleN.scABEL
  , sampleN.dp
  , se2CV
  , mse2CV
)         

# Import all packages listed as Imports or Depends
import(
  mvtnorm
)

# Define S3 methods for the pooled CV
S3method(print, CVp)
# S3 methods for printing/plotting power analysis
S3method(print, pwrA)
S3method(plot, pwrA)
